/*Шрифты*/
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@400;700&display=swap');

/*.desktop * {
    border: 1px blue solid;
}*/

.desktop {
    display: grid;
    max-width: 1400px;
    margin: auto;
    min-height: 100vh;

    grid-template-columns: [body-start] 320px [content-start] 800px [content-end] 320px [body-end];

    grid-template-rows: [head-start] 100px [nav-start] 140px[main-start] 1fr [main-end];
    grid-auto-flow: row;

    background-image: url(../resources/background.png);
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: darken;

    justify-content: stretch;
    justify-items: center;


    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;

}

.mirror {
    display: inline-block;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    transform-origin: (-100%, 0%);
    padding: 0px 0px 0px 0px;
}



header {
    /*border: 1px solid blue;*/
    grid-column: content-start/content-end;
    /*grid-row: head-start/head-end;*/
    align-self: end;
}


.logo {
    /* border: 1px solid blue;*/
    height: 40px;
    font-weight: 700;
    font-size: 30px;
    line-height: 24px;
    letter-spacing: 1px;
    /*text-align: justify;*/
}

.slogan {
    font-weight: 700;
    font-size: 10px;
    text-align: center;
    letter-spacing: 1.6px;
    line-height: 4ex;
    padding: 0px;
    margin: 0px;
}

nav {
    padding-top: 48px;
    /*В Figma прописано 52px, 
    PerfectPixel даёт только 48px. Где-то потеряно 4 px*/
    padding-left: 104px;
    grid-column: content-start/content-end;
    /*grid-row: nav-start/main-start;*/
    justify-self: stretch;
}

.selected-nav {
    /*Класс для ссылки активной страницы*/
    padding: 0px 0px 14px 0px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);

}

.link-extra-margin {
    /*Класс с доп. полями для одного из эл-тов меню*/
    margin-left: 22px;
}

nav a {
    margin: 0px 12px;
    display: inline-block;
    font-size: 11px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #FFFFFF;
}


article {
    height: 510px;
    grid-column: content-start/content-end;

    /*Прописываю сетку внутри article*/
    display: grid;
    grid-template-rows: [article-start] 160px [surname-start] 40px [headerline] 130px [article-content] 180px;

    grid-template-columns: 7.5fr [art-cont1] 82fr [art-cont2] 9.5fr;

}

article img {
    grid-column: 1/-1;
    grid-row: 1/article-content;
    max-width: 800px;
    max-height: 330px;
    margin-right: 14px;
    float: left;
}

article .surn {
    grid-column: art-cont1/art-cont2;
    grid-row: surname-start/headerine;

    font-size: 18px;
    line-height: 19px;

}

article .date {
    font-family: 'Lato', sans-serif;
    font-size: 13px;
}


.topic {
    padding-top: 20px;
    width: 70%;
    grid-column: art-cont1/art-cont2;
    grid-row: headerline;

    font-size: 28px;
    line-height: 34px;
    /*line-height: 19px;*/
    font-weight: 400;
}

article .paper {
    grid-row: article-content/-1;
    grid-column: 1/-1;
    background-color: #FFFFFF;
    color: #333333;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    line-height: 25px;
    padding-bottom: 35px;
}

article .text {
    grid-row: article-content/-1;
    grid-column: art-cont1/art-cont2;
    height: 100px;
    padding: 36px 0px 0px 0px;
}

article a {
    display: block;
    padding-top: 2px;
    font-size: 17px;
    line-height: 30px;
}

article .btn {
    display: block;

    grid-column: -2;
    grid-row: article-start;
    /*width: 40px;*/
    height: 25px;
    padding: 0px 10px;
    margin: 20px 20px 0px 0px;
    text-decoration: none;
    font-size: 8px;
    line-height: 24px;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    letter-spacing: 1px;
    text-align: center;

}

a.btn:visited {
    color: rgb(83, 83, 10);
}

.readmore {
    grid-column: content-start/content-end;
    height: 211px;
    background-color: #F1F1F1;
    color: #333333;
    justify-self: normal;
    text-align: center;
    padding-top: 49px;
    font-size: 30px;
    line-height: 36px;
}

.readmore a {
    display: block;
    margin: 21px auto 0px auto;
    max-width: 22.75%;
    height: 45px;
    text-decoration: none;
    background-color: #8D4FDB;
    color: #FFFFFF;
    font-size: 10px;
    line-height: 30px;

}