/*Шрифты*/
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@400;700&display=swap');

/*
body {
    border: 1px blue solid;
}*/

.desktop {
    max-width: 1440px;
    min-width: 2px;
    margin: auto;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;

}


.part1 {
    display: grid;
    grid-template-columns: [body-start] 4fr [content-start] 10fr [content-end] 4fr [body-end];

    grid-template-rows: [head-start] 100px [nav-start] 140px[main-start] 1fr [main-end];
    grid-auto-flow: row;

    background-image: url(../resources/background.png);
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: darken;
    background-size: cover;
    color: #FFFFFF;

    justify-content: center;
    justify-items: center;
    padding-bottom: 99px;

}

.mirror {
    display: inline-block;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    transform-origin: (-100%, 0%);
    padding: 0px 0px 0px 0px;
}



header {
    grid-column: body-start/body-end;
    align-self: end;
}


.logo {
    height: 40px;
    font-weight: 700;
    font-size: 30px;
    line-height: 24px;
    letter-spacing: 1px;
}

.slogan {
    font-weight: 700;
    font-size: 10px;
    text-align: center;
    letter-spacing: 1.6px;
    line-height: 4ex;
    padding: 0px;
    margin: 0px;
}

nav {
    padding-top: 48px;
    grid-column: body-start/body-end;
}

.selected-nav {
    /*Класс для ссылки активной страницы*/
    padding: 0px 0px 14px 0px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}

nav a {
    margin: 0px 12px;
    display: inline-block;
    font-size: 11px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #FFFFFF;
}


article {
    min-height: 510px;
    grid-column: content-start/content-end;

    /*Прописываю сетку внутри article*/
    display: grid;
    grid-template-rows: [article-start] 4fr [surname-start] 1fr [headerline] 3fr [article-content] 5fr;

    grid-template-columns: 7fr [art-cont1] 80fr [art-cont2] 7fr;

}

article .surn img {
    /*стили для картинки заголовка*/
    object-fit: cover;
    margin-right: 14px;
    float: left;
}

article>img {
    grid-column: 1/-1;
    grid-row: 1/article-content;
    width: 100%;
    height: 100%;

}

article img {
    object-fit: cover;
    margin-right: 14px;
    float: left;
}

article .surn {
    grid-column: art-cont1/art-cont2;
    grid-row: surname-start/headerine;

    font-size: 18px;
    line-height: 19px;

}

article .date {
    font-family: 'Lato', sans-serif;
    font-size: 13px;
}


.topic {
    padding-top: 20px;
    width: 70%;
    grid-column: art-cont1/art-cont2;
    grid-row: headerline;
    font-size: 28px;
    line-height: 34px;
    font-weight: 400;
}

article .paper {
    grid-row: article-content/-1;
    grid-column: 1/-1;
    background-color: #FFFFFF;
    color: #333333;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    line-height: 25px;
    padding-bottom: 35px;
}

article .text {
    grid-row: article-content/-1;
    grid-column: art-cont1/art-cont2;
    height: 100px;
    padding: 36px 0px 0px 0px;
}

article a {
    display: block;
    padding-top: 2px;
    font-size: 17px;
    line-height: 30px;
}

article .btn {
    grid-column: -2;
    grid-row: article-start;
    height: 25px;
    padding: 0px 10px;
    margin: 20px 20px 0px 0px;
    text-decoration: none;
    font-size: 8px;
    line-height: 24px;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    letter-spacing: 1px;
    text-align: center;

}

a.btn:visited {
    color: rgb(83, 83, 10);
}

.readmore {
    grid-column: content-start/content-end;
    height: 211px;
    background-color: #F1F1F1;
    color: #333333;
    justify-self: normal;
    text-align: center;
    padding-top: 49px;
    font-size: 30px;
    line-height: 36px;
}

.readmore a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 21px auto 0px auto;
    max-width: 22.75%;
    height: 45px;
    text-decoration: none;
    background-color: #8D4FDB;
    color: #FFFFFF;
    font-size: 10px;
    line-height: 30px;

}

.readmore a:active {
    color: #ad99c4;
    background-color: #7830b0 !important;
}

.readmore a:hover {
    color: #dddd94;
    background-color: #8438d0;
}

/*-------------------------------------------------------------------------
второая страница
-------------------------------------------------------------------------*/


.part2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 125px 83px 404px 176px 166px;
    justify-content: center;
    gap: 5px;
    color: #333333
}

.part2 .h-part2 {
    grid-column: 1/-1;
    grid-row: 1;
    align-self: end;
    text-align: center;
    font-size: 40px;
    line-height: 40px;
}

.slogan-part2 {
    grid-row: 2;
    grid-column: 1/-1;
    font-size: 23px;
    line-height: 33px;
    align-self: center;
    text-align: center;
    color: #A9AFB3;
    font-family: 'Lato', sans-serif;
}

#pre-art1 {
    grid-column: 1/2;
    grid-row: 3/4;
}

#pre-art2 {
    grid-column: 2/3;
    grid-row: 3/4;
}

#pre-art3 {
    grid-column: 3/4;
    grid-row: 3/4;
}

.pre-art {
    max-width: 300px;
    height: 270px;
    color: #FFFFFF;
    display: grid;
    grid-template-columns: 24px 1fr;
    grid-template-rows: 131px 35px 24px 79px;
    justify-self: center;

}


.pre-art>img {
    /*Стиль для изображение, на который распространяется grid-разметка*/
    grid-column: 1/-1;
    grid-row: 1/-2;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.pre-art .surn img {
    /*Стиль общий для всех картинок в блоке pre-art*/
    float: left;
    padding-right: 8px;
}

.pre-art .surn {
    grid-row: 2;
    grid-column: 2;
    font-size: 14px;
    line-height: 19px;
}

.pre-art .date {
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    line-height: 18px;
}

.pre-art .topic {
    grid-row: -2/-1;
    grid-column: 1/-1;
    color: black;
    font-size: 18px;
    line-height: 28px;
    width: 100%;
}

.pre-art a {
    display: none;
}

.part2 .want-read {
    grid-row: 4/5;
    grid-column: 1/-1;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    line-height: 30px;
    color: #333333;
}

.part2 a {
    color: #8D4FDB;
    text-decoration: none;
}

footer {
    grid-column: 1/-1;
    grid-row: -2;
    background-color: black;
    color: #8B8B8B;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    padding-top: 55px;
    /*align-self: center;*/
}